extends ../main-template

block content
    div.w3-container.w3-row-padding
        - var loggedUser = templateData.loggedUser;
        h1 Profilové informace
        div.w3-responsive.w3-section
            table.w3-table-all
                tr
                    td Email
                    td= loggedUser.email
                tr
                    td Jméno
                    td= loggedUser.firstName
                tr
                    td Příjmení
                    td= loggedUser.surname
                tr
                    td Ulice
                    td= loggedUser.street
                tr
                    td Město
                    td= loggedUser.city
                tr
                    td PSČ
                    td= loggedUser.zip
        div.w3-bar
            a.w3-button.w3-bar-item(href="/profile/edit-address") Upravit adresu
            a.w3-button.w3-bar-item(href="/profile/change-password") Změnit heslo
        h2 Vaše registrace dárců
        div.w3-responsive.w3-section
            table.w3-table-all
                tr
                    th Jméno
                    th Hmotnost
                    th Rok narození
                    th Pohlaví
                    th Plemeno
                    th
                    th
                for registration in templateData.registrations
                    tr
                        td #[a(href="/donor/" + registration.id) #{registration.name}]
                        td #{registration.weight} kg
                        td= registration.birthYear
                        td= registration.sex
                        td= registration.breed
                        td #[a(href="/profile/donor/" + registration.id + "/edit") Upravit]
                        td
                            form(method="post", action="/profile/donor/" + registration.id + "/remove")
                                input.w3-button.w3-padding-small(type="submit", value="Smazat")