extends ../main-template

block content
    div.w3-container.w3-row-padding
        - var loggedUser = templateData.loggedUser;
        h1 Profilové informace
        table
            tr
                td Email
                td= loggedUser.email
            tr
                td PSČ
                td= loggedUser.zip
        h2 Vaše registrace dárců
        div.w3-responsive.w3-section
            table.w3-table-all
                tr
                    th Jméno
                    th Hmotnost
                    th Rok narození
                    th Pohlaví
                    th Plemeno
                    th
                    th
                for registration in templateData.registrations
                    tr
                        td #[a(href="/donor/" + registration.id) #{registration.name}]
                        td= registration.weight
                        td= registration.birthYear
                        td= registration.sex
                        td= registration.breed
                        td #[a(href="/profile/donor/" + registration.id + "/edit") Upravit]
                        td
                            form(method="post", action="/profile/donor/" + registration.id + "/remove")
                                input(type="submit", value="Smazat")