extends ../main-template

block description
    title Profilové informace | Červená tlapka
    meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    div.w3-container.w3-row-padding
        - var loggedUser = templateData.loggedUser;
        div.w3-responsive.w3-section
            h1 Profilové informace
            div.w3-half
                table.w3-table-all.w3-margin-bottom
                    colgroup
                        col(span="1", style="width: 30%")
                        col(span="1", style="width: 70%")
                    tr
                        td Email
                        td= loggedUser.email
                    tr
                        td Jméno
                        td= loggedUser.firstName
                    tr
                        td Příjmení
                        td= loggedUser.surname
                    tr
                        td Ulice
                        td= loggedUser.street
                    tr
                        td Město
                        td= loggedUser.city
                    tr
                        td PSČ
                        td= loggedUser.zip
                    tr
                        td Mobil
                        td= loggedUser.phone
                    tr
                        td Newsletter
                        td= loggedUser.agreements.newsletter ? "Ano" : "Ne"
            div.w3-half
                div.w3-bar
                    a.w3-button.w3-bar-item.ct-blue.w3-margin-left.w3-margin-bottom(href="/profile/edit-address") Upravit adresu
                    a.w3-button.w3-bar-item.ct-blue.w3-margin-left.w3-margin-bottom(href="/profile/edit-phone") Upravit mobil
                    a.w3-button.w3-bar-item.ct-blue.w3-margin-left.w3-margin-bottom(href="/profile/change-password") Změnit heslo
        div.w3-responsive.w3-section
            h2 Vaši psí hrdinové
            a.w3-button.w3-bar-item.ct-blue.w3-margin-left.w3-margin-bottom(href="/register-donor") Přidat psa
            table.w3-table-all
                tr
                    th Jméno
                    th Hmotnost
                    th Rok narození
                    th Pohlaví
                    th Plemeno
                    th
                    th
                for registration in templateData.registrations
                    tr
                        td= registration.name
                        td #{registration.weight} kg
                        td= registration.birthYear
                        td= registration.sex
                        td= registration.breed
                        td #[a(href="/profile/donor/" + registration.id + "/edit") Upravit]
                        td
                            form(method="post", action="/profile/donor/" + registration.id + "/remove", onsubmit="return confirm('Opravdu si přejete smazat tohoto psího hrdinu?');")
                                input.w3-button.w3-padding-small(type="submit", value="Smazat")
        div.w3-responsive.w3-section
            h2 Odstranění profilu
            p Zde můžete smazat svůj profil. Tato operace je nevratná.
            p Spolu s vaším profilem budou z registru vymazány i všichni vaši psí hrdinové.
            form(method="post", action="/profile/delete", onsubmit="return confirm('Opravdu si přejete smazat svůj profil?');")
                input.w3-button.ct-red.w3-margin-left.w3-margin-bottom(type="submit", value="Smazat profil")