div.w3-container
    div.w3-third
        p
    div.w3-twothird
        div.w3-bar.ct-yellow.menu
            a.w3-bar-item.w3-button.w3-hide-large(href="/") Domů
            - var itemClasses = "w3-bar-item w3-button w3-hide-small w3-hide-medium"
            - var itemClassesRight = itemClasses + " w3-right"
            a(class=itemClasses href="/find-donor") Najít dárce
            div.w3-dropdown-hover
                button.w3-button.w3-hide-small.w3-hide-medium chci pomoct
                div.w3-dropdown-content.w3-bar-block.w3-card-4
                    a(class=itemClasses href="/register-donor") Přidat psa
                    a(class=itemClasses href="/want-to-help#flyer") Vytisknout leták
                    a(class=itemClasses href="/want-to-help#share") Sdílet
                    a(class=itemClasses href="/want-to-help#financial-help") Finanční podpora
                    a(class=itemClasses href="/want-to-help#i-have-an-idea") Mám nápad
            div.w3-dropdown-hover
                button.w3-button.w3-hide-small.w3-hide-medium o nás
                div.w3-dropdown-content.w3-bar-block.w3-card-4
                    a(class=itemClasses href="/about-us#story") Náš příběh
                    a(class=itemClasses href="/about-us#team") Tým Červené tlapky
                    a(class=itemClasses href="/contacts") Kontakt
                    a(class=itemClasses href="/press") Pro média
                    a(class=itemClasses href="/in-the-news") Napsali o nás
                    a(class=itemClasses href="/partners") Spolupracujeme
            a(class=itemClasses href="/faq") FAQ
            if user
                a(class=itemClassesRight href="/logout") Odhlásit
                a(class=itemClassesRight href="/profile") #{user.sub.email}
            else
                a(class=itemClassesRight href="/login") Přihlásit
                a(class=itemClassesRight href="/register") Registrovat
            a.w3-bar-item.w3-button.w3-right.w3-hide-large(href="#mobile-menu") &#9776;
        nav#mobile-menu.w3-hide-large.menu
            ul
                li: a(href="/find-donor") Najít dárce
                li
                    span Chci pomoct
                    ul
                        li: a(href="/register-donor") Přidat psa
                        li: a(href="/want-to-help#flyer") Vytisknout leták
                        li: a(href="/want-to-help#share") Sdílet
                        li: a(href="/want-to-help#financial-help") Finanční podpora
                        li: a(href="/want-to-help#i-have-an-idea") Mám nápad
                li
                    span O nás
                    ul
                        li: a(href="/about-us#story") Náš příběh
                        li: a(href="/about-us#team") Tým Červené tlapky
                        li: a(href="/contacts") Kontakt
                        li: a(href="/press") Pro média
                        li: a(href="/in-the-news") Napsali o nás
                        li: a(href="/partners") Spolupracujeme
                li: a(href="/faq") FAQ
                if user
                    li: a(href="/profile")= user.sub.email
                    li: a(href="/logout") Odhlásit
                else
                    li: a(href="/register") Registrovat
                    li: a(href="/login") Přihlásit
div.w3-container
    a(href="/"): img.logo(src="/static/image/logo.svg" alt="Červená tlapka")
    div.w3-right
        //- FIXME try to open facebook or instagram application
        case userAgent.os.name
            when "Android"
                a(href="https://www.facebook.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-facebook.png", alt="Facebook")
                a(href="https://www.instagram.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-instagram.png", alt="Instagram")
            when "iOS"
                a(href="https://www.facebook.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-facebook.png", alt="Facebook")
                a(href="https://www.instagram.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-instagram.png", alt="Instagram")
            default
                a(href="https://www.facebook.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-facebook.png", alt="Facebook")
                a(href="https://www.instagram.com/cervenatlapka/"): img.social-icon(src="/static/image/logo-instagram.png", alt="Instagram")
        script(type="application/ld+json").
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "Červená tlapka",
                "url": "https://www.cervenatlapka.cz/",
                "logo": "https://www.cervenatlapka.cz/static/image/logo.png",
                "sameAs": [
                    "https://www.facebook.com/cervenatlapka/",
                    "https://www.instagram.com/cervenatlapka/"
                ]
            }