div.w3-container
    div.w3-third
        p
    div.w3-twothird
        div.w3-bar.ct-yellow.menu
            a.w3-bar-item.w3-button.w3-hide-large(href="/") Domů
            - var itemClasses = "w3-bar-item w3-button w3-hide-small w3-hide-medium"
            - var itemClassesRight = itemClasses + " w3-right"
            a(class=itemClasses href="/find-donor") Najít dárce
            div.w3-dropdown-hover
                button.w3-button.w3-hide-small.w3-hide-medium chci pomoci
                div.w3-dropdown-content.w3-bar-block.w3-card-4
                    a(class=itemClasses href="/register-donor") Registrace dárce
                    a(class=itemClasses href="/want-to-help#flyer") Vytisknout leták
                    a(class=itemClasses href="/want-to-help#share") Sdílet
                    a(class=itemClasses href="/want-to-help#financial-help") Finanční pomoc
            div.w3-dropdown-hover
                button.w3-button.w3-hide-small.w3-hide-medium o nás
                div.w3-dropdown-content.w3-bar-block.w3-card-4
                    a(class=itemClasses href="/about-us") O nás
                    a(class=itemClasses href="/contacts") Kontakt
                    a(class=itemClasses href="#") Blog
            if user
                a(class=itemClassesRight href="/logout") Odhlásit
                a(class=itemClassesRight href="/profile") #{user.sub.email}
            else
                a(class=itemClassesRight href="/login") Přihlásit
                a(class=itemClassesRight href="/register") Registrovat
            a.w3-bar-item.w3-button.w3-right.w3-hide-large(href="javascript:void(0)", onclick="handleMobileMenu()") &#9776
        div#mobile-menu.w3-bar-block.ct-yellow.w3-hide.w3-hide-large.menu
            - var mobileItemClasses = "w3-bar-item w3-button"
            a(class=mobileItemClasses href="/find-donor") Najít dárce
            a(class=mobileItemClasses href="/register-donor") Registrace dárce
            a(class=mobileItemClasses href="/want-to-help#flyer") Vytisknout leták
            a(class=mobileItemClasses href="/want-to-help#share") Sdílet
            a(class=mobileItemClasses href="/want-to-help#financial-help") Finanční pomoc
            a(class=mobileItemClasses href="/about-us") O nás
            a(class=mobileItemClasses href="/contacts") Kontakt
            a(class=mobileItemClasses href="#") Blog
            if user
                a(class=mobileItemClasses href="/profile") #{user.sub.email}
                a(class=mobileItemClasses href="/logout") Odhlásit
            else
                a(class=mobileItemClasses href="/register") Registrovat
                a(class=mobileItemClasses href="/login") Přihlásit

    script.
        function handleMobileMenu() {
            var x = document.getElementById("mobile-menu");
            if (x.className.indexOf("w3-show") === -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
div.w3-container
    a(href="/"): img.logo(src="/static/image/logo.svg" alt="Červená tlapka")