p Dobrý den,
p děkujeme za Vaši registraci.
p Pro dokončení Vaší registrace klikněte prosím na tento odkaz:
- var activateLink = `${baseUrl}/register/activate?email=${encodeURIComponent(email)}&activateHash=${encodeURIComponent(activateHash)}`
p #[a(href=activateLink) #{activateLink}]
p Tým Červené tlapky
p Pokud jste tento email dostali omylem a na webu #{baseUrl} jste se neregistrovali, ignorujte jej prosím.