doctype html
html(lang="cs")
    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-138730085-1", async=true)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-138730085-1');
        title Červená tlapka
        meta(name="viewport", content="width=device-width", initial-scale=1)
        meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Chivo:400,700|Work+Sans:400,700")
        link(rel="stylesheet", type="text/css", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", type="text/css", href="/static/css/style.css")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        meta(property="og:image:width" content="279")
        meta(property="og:image:height" content="279")
        meta(property="og:description" content="Registr dobrovolných psích dárců krve")
        meta(property="og:url" content="https://www.cervenatlapka.cz/")
        meta(property="og:image" content="https://www.cervenatlapka.cz/og-image.jpg")
        meta(property="og:title" content="Červená tlapka")
        meta(property="og:locale" content="cs")
        meta(property="fb:app_id" content="469000200307181")
        block scripts
            script(src="https://www.google.com/recaptcha/api.js?render=" + templateData.recaptchaKey)
    body
        include includes/header
        if templateData.errors && templateData.errors.global
            div.w3-panel.w3-red: p= templateData.errors.global
        div.content.w3-section
            block content
        include includes/footer
        script(
            id="cookieinfo",
            src="//cookieinfoscript.com/js/cookieinfo.min.js",
            data-message="Tento web používá cookies pro zajištění správné funkčnosti a jeho prohlížením souhlasíte s jejich využitím.",
            data-linkmsg="<b>Více informací</b>",
            data-moreinfo="https://cs.wikipedia.org/wiki/HTTP_cookie",
            data-font-family="Work Sans",
            data-fg="rgb(203, 0, 60)",
            data-bg="rgb(255, 237, 60)",
            data-link="rgb(203, 0, 60)",
            data-divlink="rgb(256, 256, 256)",
            data-divlinkbg="rgb(39, 49, 106)")
