doctype html
html(lang="cz")
    head
        title Červená tlapka
        meta(name="viewport", content="width=device-width", initial-scale=1)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Chivo:400,700|Work+Sans:400,700")
        link(rel="stylesheet", type="text/css", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", type="text/css", href="/static/css/style.css")
        block scripts
            script(src="https://www.google.com/recaptcha/api.js?render=" + templateData.recaptchaKey)
    body
        include includes/header
        block content
        include includes/footer
        script(
            type="text/javascript",
            id="cookieinfo",
            src="//cookieinfoscript.com/js/cookieinfo.min.js",
            data-message="Tento web používá cookies pro zajištění správné funkčnosti a jeho prohlížením souhlasíte s jejich využitím.",
            data-linkmsg="<b>Více informací</b>",
            data-moreinfo="https://cs.wikipedia.org/wiki/HTTP_cookie",
            data-font-family="Work Sans",
            data-fg="rgb(203, 0, 60)",
            data-bg="rgb(255, 237, 60)",
            data-link="rgb(203, 0, 60)",
            data-divlink="rgb(256, 256, 256)",
            data-divlinkbg="rgb(39, 49, 106)")
