extends ../main-template

block description
    - const registration = templateData.registration
    title Informace o psím dárci | Červená tlapka
    meta(name="description", content=`${registration.sex === "M" ? "Náš statečný hrdina" : "Naše statečná hrdinka"} ${registration.name} vám, pokud to bude v ${registration.sex === "M" ? "jeho" : "jejích"} silách, jistě ${registration.sex === "M" ? "rád" : "ráda"} pomůže. Kontaktujte ${registration.sex === "M" ? "jeho" : "jejího"} majitele pomocí našeho formuláře!`)

block prepend css
    link(rel="stylesheet", type="text/css", href="/static/css/intlTelInput.min.css")

block append scripts
    script(src="/static/script/intl-tel-input/intlTelInput.min.js")

block content
    include ../includes/forms
    include ../includes/recaptcha
    include ../includes/phone-input
    if templateData.applicationSent
        div.w3-panel.w3-pale-green
            p Vaše žádost byla úspěšně odeslána.
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Informace o psím dárci
            ul
                li Jméno: #{registration.name}
                li Hmotnost: #{registration.weight} kg
                li Rok narození: #{registration.birthYear}
                li Pohlaví: #{registration.sex === "M" ? "Pes" : "Fena"}
                li Plemeno: #{registration.breed}
                li Místo: #{registration.district} (#{registration.zip})
                li Poznámka: #{registration.note ? registration.note : "-"}
        div.w3-half
            h2 Kontaktní formulář
            p: b Našli jste vhodného dárce pro svého psa? Kontaktujte ho pomocí tohoto formuláře!
            p Vyplňte svůj email a jméno a napište zprávu pro jeho majitele. Nezapomeňte uvést kontakty (telefonní číslo, Facebook), na kterých vás bude moct zastihnout.
            p Urychlíte tím celý proces darování krve. Hodně štěstí!
            - const data = templateData.data
            - const errors = templateData.errors
            form(method="post", action="/donor/" + registration.id + "/contact")
                +input("text", "email", "Váš email:", data, errors)
                +input("tel", "phone", "Váš mobil:", data, errors, { hiddenErrorPanel: true })
                +input("text", "name", "Vaše jméno:", data, errors)
                +textarea("message", "Vaše zpráva:", data, errors)
                div.w3-container.w3-section
                    +recaptchaInputv2()
                    +submit()
                +phoneInput("#phone")
                //+recaptchaScript("contactDonor")