extends ../main-template

block content
    - var registration = templateData.registration
    - var data = templateData.data
    - var errors = templateData.errors
    - var actualYear = templateData.actualYear
    form(method='post', action='/profile/donor/' + registration.id + '/edit')
        div
            label(for='name') Jméno:
            input#name(type='text', name='name', value=data ? data.name : registration.name)
            if errors && errors.name
                span= errors.name
        div
            label(for='weight') Hmotnost (kg):
            input#weight(type='number', name='weight', value=data ? data.weight : registration.weight, step=1)
            if errors && errors.weight
                span= errors.weight
        div
            - var n = 0
            label(for='birth-year') Rok narození:
            select#birth-year(name='birthYear')
                - var selectedYear = data ? parseFloat(data.birthYear) : registration.birthYear
                while n < 30
                    - var year = actualYear - n++
                    option(value=year, selected=selectedYear === year)= year
            if errors && errors.birthYear
                span= errors.birthYear
        div
            label(for='sex') Pohlaví:
            select#sex(name='sex')
                - var selectedSex = data ? data.sex : registration.sex
                option(label='Pes', value='M', selected=selectedSex === 'M' : false)
                option(label='Fena', value='F', selected=selectedSex === 'F' : false)
            if errors && errors.sex
                span= errors.sex
        div
            label(for='breed') Plemeno:
            input#breed(type='text', name='breed', value=data ? data.breed : registration.breed)
            if errors && errors.breed
                span= errors.breed
        div
            input(type='submit', value='Odeslat')