extends ../main-template

block content
    include ../includes/pagination
    include ../includes/forms
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Najít dárce
            p Na této stránce najdete všechny zaregistrovné dárce. Pro snadnější nalezení toho vhodného můžete použít filtr.
            p Nového hrdinu, který by byl ochotný darovat krev, můžete zaregistrovat #[a(href='/register-donor') zde].

            - var data = templateData.data
            form(method='get', action='/find-donor')
                div.align-bottom
                    div.w3-third
                        label(for='zip') Vaše PSČ:
                        input#zip.w3-input.w3-border(type='text', name='zip', value=data ? data.zip : '')
                    div.w3-third.w3-margin-right.w3-margin-left
                        label(for='maxDistance') Maximální vzdálenost:
                        select#maxDistance.w3-select.w3-border(name='maxDistance')
                            option(label='50 km', value='50', selected=data ? data.maxDistance === 50 : false)
                            option(label='100 km', value='100', selected=data ? data.maxDistance === 100 : false)
                            option(label='200 km', value='200', selected=data ? data.maxDistance === 200 : false)
                            option(label='500 km', value='500', selected=data ? data.maxDistance === 500 : false)
                    div.w3-third
                        +submit()
        div.w3-half
            div.w3-responsive.w3-section
                table.w3-table-all
                    tr
                        th Jméno
                        th: abbr(title="Hmotnost") H.
                        th: abbr(title="Rok narození") R.N.
                        th: abbr(title="Pohlaví") P.
                        th Plemeno
                        th Okres
                        th PSČ
                    for registration in templateData.registrations
                        tr
                            td #[a(href="/donor/" + registration.id) #{registration.name}]
                            td #{registration.weight}&nbsp;kg
                            td= registration.birthYear
                            td= registration.sex === "M" ? "Pes" : "Fena"
                            td= registration.breed
                            td= registration.district
                            td= registration.zip
            +pagination(templateData.paging)
    div.w3-container.w3-section
        div#donor-map
        script.
            let map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('donor-map'), {
                    mapTypeId: 'roadmap'
                });
                const bounds = new google.maps.LatLngBounds();
                const markersData = !{ JSON.stringify(templateData.aggregatedRegistrations) };
                const infoWindow = new google.maps.InfoWindow({
                    content: "Test"
                });
                const markers = markersData.map(markerData => {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(markerData.location[1], markerData.location[0]),
                        map: map,
                        label: `${markerData.registrationCount}`
                    });
                    marker.addListener('click', function() {
                        infoWindow.setContent(`<p>PSČ ${markerData.zip}</p><p><a href='/find-donor?zip=${markerData.zip}'>Zobrazit místní dárce</a></p>`);
                        infoWindow.open(map, marker);
                    })
                bounds.extend(marker.position);
                    return marker;
                });
                map.fitBounds(bounds);
            }
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBla_Xe4qxStCxH04yzWZ90I4JpiUy6Tr4&callback=initMap' async=true defer=true)