p Dobrý den,
p pro nastavení nového hesla klikněte prosím na tento odkaz:
- var activateLink = `${baseUrl}/password-reset?passwordResetHash=${encodeURIComponent(passwordResetHash)}`
p #[a(href=activateLink) #{activateLink}]
p Tým Červené tlapky
p Pokud jste tento email dostali omylem a na webu #{baseUrl} jste nežádali o změnu hesla, ignorujte jej prosím.
p Email byl vygenerován automaticky. Neodpovídejte na něj prosím.